<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <input type="text" name="" v-model="item">
    <button v-on:click="addTodo">Add</button>
    <hr>
    <ul>
        <li v-for="todo in todos">{{ todo }}</li>
    </ul>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!',
            todos: ["vue", "js", "html"],
            item:''
        },
        methods: {
            addTodo: function() {
                this.todos.push(this.item)
                this.item = ''
            }
        }
    })
</script>
</html>